.item {
  width: 310px;
  margin: 0 auto;
}

.item .content {
  margin-bottom: 30px;
  border-radius: 0 0 5px 5px;
  /* background-color: #fff; */
  padding: 15px;
}

.item .itemTitle h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto";
}

.item .itemImage {
  width: 310px;
  height: 200px;
  border-radius: 5px;
}
.item .itemImage img {
  width: 310px;
  height: 200px;
  border-radius: 5px;
}

/* quantity */
.item .itemQty {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item .itemQty .qty {
  width: 35px;
  height: 25px;
  background-color: #f49005;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto";
  margin-right: 5px;
}
.item .itemQty .text {
  color: #999faa;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 20px;
}

/* buttom */
.item .itemButton {
  margin-top: 35px;
}
.item .itemButton a {
  display: table;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 5px;
  color: #004982;
  font-size: 13px;
  font-weight: 500;
  font-family: "Inter";
}
