.section-top {
}
.section-padding-vertical {
}
.sectionList {
  padding: 80px 0;
  margin-top: 150px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#004982+0,00235b+100 */
  background: #004982; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #004982 0%,
    #00235b 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #004982 0%,
    #00235b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #004982 0%,
    #00235b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004982', endColorstr='#00235b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sectionSearch {
  margin-top: 80px;
}
/* custom libs */
.select__control {
  height: 60px;
  padding: 0 15px;
}
